@import "variables";
@import "mixins";

.n-note {
  background-color: #c0cdec;
  padding: 10px 15px;
  height: 42px;
  border: 1px solid #3a5a94;
  display: table;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 21px;

  * {
    vertical-align: middle;
    display: table-cell;
    color: $text-color;
  }

  @include border_radius(5px);
}

.n-number {
  padding-right: 8px;
}

.n-title {
  width: 100%;
}

.n-slide-right {
  float: right;
  position: relative;
  top: 8px;
}